<div class="navrow">
	<div class="navbutton">
		<img src="<%= asset_path "my_profile/newsFeedTitle.png" %>" width="510" height="65"></img>
		<a href="/newsfeed"></a>
	</div>
	<div class="navbutton" id="back">
		<img src="<%= asset_path "my_profile/titleBack.png" %>" width="185" height="65"></img>
	</div>
	<div id="refresh_button" class="navbutton">
		<img src="<%= asset_path "my_profile/refresh.png" %>" width="30" height="20"></img>
	</div>
</div>

<div class="navrow">
	<div class=	"navbutton">
		<div class="innerText"><span class="innerRealText"><%= @name %></span></div>
		<div class="innerImage" width="173" height="100"><img src="<%= @picture %>" width="173" height="100"></img></div>
		<img class="outerImage" src="<%= asset_path "my_profile/profilePicture.png" %>" width="193" height="150"></img>
	</div>

	<div class="navbutton" id="post">
		<a href="/keyboard"></a>
		<img src="<%= asset_path "my_profile/postButton.png" %>" width="290" height="150"></img>
	</div>

	<div class=	"navbutton">
		<a href="/photos<%if params[:facebook_id]%>?facebook_id=<%=params[:facebook_id]%><%end%>"></a>
		<div class="innerImageCover" width="173" height="100"><img src="<%= @photo_cover %>" width="173" height="108"></img></div>
		<img class="outerImage" src="<%= asset_path "my_profile/photos.png" %>" width="193" height="150"></img>
	</div>
</div>

<div class="navrow">
	<div class="navbutton">
		<% if @firstpost %>
			<div class="innerImage" width="50" height="50"><img src="<%= @firstpostpic %>" width="35" height="35"></img></div>
			<div class="innerTextWide"><span class="innerRealTextWideName"><%= @firstpost['from']['name'] %></span></div>
			<div class="innerTextWide"><span class="innerRealTextWideBody"><%= @firstpostbody %></span></div>
			<div class="innerTextWide"><span class="innerRealTextWideLikeComment">Likes: <%= @firstpostlikes %>  -  Comments: <%= @firstpostcomments %></span></div>
		<% end %>
		<img src="<%= asset_path "my_profile/recentPosts.png" %>" width="290" height="150"></img>
		<a href="/wall<%if params[:facebook_id]%>?facebook_id=<%=params[:facebook_id]%><%end%>"></a>
	</div>
	<div class="navbutton">
		<img src="<%= asset_path "my_profile/notifications.png" %> " width="193" height="150"></img>
		<a href="/notifications"></a>
	</div>
	<div class="navbutton"> 
		<a href="/friends"></a>
		<img src="<%= asset_path "my_profile/friends.png" %>" width="193" height="150"></img>
	</div>
</div>

<div id="fb-root"></div>
<div id="blanket" style="display:none;"></div>
<div id="popUpDiv" style="display:none;">
<%= render :template => "shared/keyboard", :as => :keyboard %>
</div>

<script>

 window.fbAsyncInit = function() {
    FB.init({
      appId      : '121876364638954',
      channelUrl : 'http://localhost:3000/channel.html',
      status     : true, 
      cookie     : true, 
      xfbml      : true 
    });
    FB.getLoginStatus(function(response) {
	  if (response.status === 'connected') {
	    $('#testFacebookDiv').text("Your facebook access token: "+response.authResponse.accessToken);
	    // send ajax query to update the session's oauth access token
	    $.ajax("/set_oauth_access_token?facebook_access_token="+response.authResponse.accessToken);
	  } else if (response.status === 'not_authorized') {
	    $('#testFacebookDiv').text("You are logged into Facebook but have not authorized this app.");
	  } else {
	  	$('#testFacebookDiv').text("You are not logged into Facebook.");
	 	login();
	  }
	 });

    function login() {
	    FB.login(function(response) {
	    	if (response.authResponse) {
	            $('#testFacebookDiv').text("Your facebook access token: "+response.authResponse.accessToken);
	        } else {
	            $('#testFacebookDiv').text("You decided not to login.");
	        }
	    }, {scope: 'user_status,user_actions.news,user_hometown,user_location,email,user_interests,user_relationship_details,user_about_me,user_likes,user_photos,user_education_history,user_work_history,read_stream,publish_stream,friends_status,friends_photos,friends_actions.news,friends_activities,friends_likes,friends_about_me,manage_notifications'} );
	}
  };

  // load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
